<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Глоссарий</title>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/jsmind@0.7.9/style/jsmind.css"/>
</head>
<body>
<div id="jsmind_container"></div>
<script type="text/javascript" src="https://unpkg.com/jsmind@0.7.9/es6/jsmind.js"></script>
<script type="text/javascript">
    var mind = {
        "meta":{
            "name":"glossary",
            "author":"Max",
            "version":"1"
        },
        "format":"node_tree",

        "data": {{ glossary | safe }}
    };
    var options = {
        container:'jsmind_container',
        editable:false,
        mode :'full',
        theme:'success',
        view:{
            engine: 'canvas',
            hmargin:100,
            vmargin:50,
            line_width:2,
            line_color:'#555',
            line_style:'curved',
            draggable: true,
            hide_scrollbars_when_draggable: false,
            node_overflow: 'wrap'
        },

    };
    var jm = new jsMind(options);
    jm.show(mind);
</script>
</body>
</html>
